<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= APP_NAME ? APP_NAME +' — ' : '' %> Leave</title>
    <% include ../Include/head %>
</head>
<body>
    <div id="app">
        <% include ../Include/header %>
        <% include ../Include/aside %>
        
        <main  v-bind:class="fluid ? 'full-width':''">
            <team-logs inline-template>
                <div class="wrapper">
                    <div class="bread-crumb">
                        <ol>
                            <li class="breadcrumb-item"><a href="<%= baseUrl %>">Dashboard</a></li>
                            <li class="breadcrumb-item"><span>Team Logs</span></li>
                            <li class="search">
                                <div class="search-container">
                                    <div class="input-group">
                                        <input type="search" id="txtfilter" class="form-control form-control-sm" v-model="param.key" placeholder="Search employees">
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <!-- <a v-bind:href="exportLinkLV" class="btn btn-primary btn-sm" target="_blank"><i class="mdi mdi-download"></i> Export</a> -->
                    </div>
                    
                    <div class="app-container">
                        <div class="row">
                            <div class="col col-sm-12">
                                <h5>Team Logs (<%= moment().format('dddd') + ' - ' + moment().format('MM/DD/YYYY')%>)</h5>
                                
                                <div class="form-inline">
                                    <!-- <datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="Start Date" v-model="param.start"></datetime>
                                    <datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="End Date" v-model="param.end" :min-datetime="minDate"></datetime> -->
                                    <!-- <select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.employee">
                                        <option value="">All Employee</option>
                                        <option v-for="user in param_user" v-bind:value="user.id" v-text="user.last_name+', '+user.first_name"></option>
                                    </select> -->
                                    <select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.status">
                                        <option value="">All</option>
                                        <option v-for="shift_type in shift_types" :value="shift_type">{{ shift_type }}</option>
                                    </select>
                                    <label class="mb-2 mr-sm-2">Limit</label>
                                    <select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.limit">
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="75">75</option>
                                        <option value="100">100</option>
                                    </select>
                                    <button type="reset" v-on:click="reset" class="btn btn-light mb-2">Reset</button>
                                </div>

                                <div class="col-12 alert alert-primary alert-dismissible fade show">
                                    <b>Note:&nbsp;</b> The list below will be based on the selected cutoff.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div v-if="!fetching && records.length">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-light">
                                                <tr>
                                                    <th class="text-center" width="20">No</th>
                                                    <th class="text-center" width="120">Employee No</th>
                                                    <th class="text-center" width="200">Employee Name</th>
                                                    <th class="text-center" width="120">ShiftID</th>
                                                    <td class="text-center nowrap">Shift Time In</td>
                                                    <td class="text-center nowrap">Shift Time Out</td>
                                                    <td class="text-center nowrap">Actual Time In</td>
                                                    <td class="text-center nowrap">Actual Time Out</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(log,index) in records" v-if="index >= param.rec_start && index < param.rec_end">
                                                    <td class="text-center" v-text="index + 1"></td>
                                                    <td v-text="log.employee_number"></td>
                                                    <td v-text="log.full_name"></td>
                                                    <td class="text-center" v-text="log.shift_type"></td>
                                                    <td class="text-center" v-text="log.check_in ? moment(log.check_in).utc().format('HH:mm:ss'):''"></td>
                                                    <td class="text-center" v-text="log.check_out ? moment(log.check_out).utc().format('HH:mm:ss'):''"></td>
                                                    <td class="text-center" v-text="log.actual_check_in ? moment(log.actual_check_in).utc().format('HH:mm:ss'):''"></td>
                                                    <td class="text-center" v-text="log.actual_check_out ? moment(log.actual_check_out).utc().format('HH:mm:ss'):''"></td>
                                                </tr>
                                            </tbody>
                                        </table>
    
                                    </div>
                                </div>
    
                                <ul class="pagination" v-if="counts">
                                    <li class="page-item">
                                        <a href="javascript:void(0);" v-on:click="setPage(1)" class="page-link">First</a>
                                    </li>
                                    <li class="page-item" v-for="count in counts" v-bind:class="param.page == count ? 'active':''">
                                        <a href="javascript:void(0);" v-on:click="setPage(count)" class="page-link">{{ count }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="javascript:void(0);" v-on:click="setPage(counts)" class="page-link">Last</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-sm-12">
                                <div class="loading" v-if="fetching">
                                    <img src="<%= baseUrl + '/img/loading.gif' %>">
                                    <p>Loading.....</p>
                                </div>
                            </div>
                            <div class="col col-sm-12" v-if="!fetching && !records.length">
                                <div class="norecord">
                                    <img src="<%= baseUrl + '/img/info.png' %>">
                                    <p>Sorry, we couldn't find any matches.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
    
                </div>
            </team-logs>
        </main>
    </div>

    <% include ../Include/javascript %>
</body>
</html>