<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= APP_NAME ? APP_NAME +' — ' : '' %> <%= employee.first_name +' '+ employee.last_name %></title>
	<% include ../../Include/head %>

</head>
<body>
	<div id="app">
	<% include ../../Include/header %>
	
	<% include ../../Include/aside %>

	<main v-bind:class="fluid ? 'full-width':''">
		<!-- Inline Template -->
		<employee-loan inline-template>
			<!-- Wrapper -->
			<div class="wrapper">
				<!-- Breadcrumb -->
				<div class="bread-crumb">
					<ol>
						<li class="breadcrumb-item"><a href="<%= baseUrl %>">Dashboard</a></li>
						<li class="breadcrumb-item"><a href="<%= baseUrl +'/employee' %>">Employee</a></li>
						<li class="breadcrumb-item"><span class="active"><%= employee.first_name +' '+ employee.last_name %></span></li>
					</ol>
					<% if(user_role.write){ %>
					<a href="javascript:void(0);" class="btn btn-primary btn-sm" v-on:click="openModal()"><i class="mdi mdi-plus"></i> New</a>
					<% } %>
				</div><!-- Breadcrumb -->

				<!-- App Container -->
				<div class="app-container">
					<div class="row">
						<div class="col">
							<% include ../common/cover %>

							<div class="account-body">
								
								<% include ../common/tabs %>

								<div class="row">
									<div class="col col-sm-12">
										<h5>Loan</h5>
										<div class="norecord" v-if="!fetching && !records.length">
											<img src="<%= baseUrl + '/img/info.png' %>">
											<p>Sorry, we couldn't find any matches.</p>
										</div>
										<table class="table table-bordered" v-if="!fetching && records.length">
											<thead class="bg-light">
												<tr>
													<th>Label</th>
													<th width="150">Amount</th>
													<th width="150">Balance</th>
													<th width="200">Mode of Payment</th>
													<th width="150">Loan Frequency</th>
													<th width="150">Loan Type</th>
													<th width="100">Status</th>
													<th width="100" class="text-center">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(record, index) in records">
													<td v-text="record.label"></td>
													<td v-text="record.amount ? $Global.currencyFormat(record.amount) : '0.00'"></td>
													<td v-text="computeBalance(record.loan_payments, record.amount)"></td>
													<td v-text="record.mode_of_payment == '0' ? 'Cash':'Salary Deduction'"></td>
													<td v-text="record.frequency"></td>
													<td>
														<span v-if="record.loan_type == 1">SSS Salary Loan</span>
														<span v-if="record.loan_type == 2">Pag-Ibig Salary Loan</span>
														<span v-if="record.loan_type == 3">Employee Personal Advances</span>
														<span v-if="record.loan_type == 4">HMO Employee Share</span>
														<span v-if="record.loan_type == 5">Phone Unit Advances</span>
														<span v-if="record.loan_type == 6">Excess Mobile Usage Charges</span>
													</td>
													<td v-text="record.status == '0' ? 'Processing': (record.status == '1' ? 'Approved':'Complete') "></td>
													<td class="text-center">
														<button class="btn btn-sm btn-outline-primary" v-on:click="info(index)"><i class="mdi mdi-information-outline"></i></button>
														<button class="btn btn-sm btn-outline-primary" <%- !user_role.modify ? 'disabled':'v-on:click="edit(index)"' %>><i class="mdi mdi-lead-pencil"></i></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<% include ./form %>
					<% include ./info %>
				</div><!-- App Container -->
				<% include ../../Include/alert %>
			</div> <!-- Wrapper -->
		</employee-loan>
		<!-- Inline Template -->
		
	</main>
	</div>
	<% include ../../Include/javascript %>
</body>
</html>