<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= APP_NAME ? APP_NAME +' — ' : '' %> Overtime</title>
	<% include ../../Include/head %>

</head>
<body>
	<div id="app">
	<% include ../../Include/header %>
	
	<% include ../../Include/aside %>
	
	<main v-bind:class="fluid ? 'full-width':''">
		<approval-shift inline-template>
			<div class="wrapper">
				<div class="bread-crumb">
					<ol>
						<li class="breadcrumb-item"><a href="<%= baseUrl %>">Dashboard</a></li>
						<li class="breadcrumb-item"><span>Approvals</span></li>
						<li class="search">
							<div class="search-container">
								<div class="input-group">
									<input type="search" id="txtfilter" class="form-control form-control-sm" v-on:keyup="find()" v-on:click="clear()" v-model="keyword" placeholder="Search employees">
								</div>
							</div>
						</li>
					</ol>
					<a v-bind:href="exportLink" class="btn btn-primary btn-sm" target="_blank"><i class="mdi mdi-download"></i> Export</a>
					<!-- <div class="buttons">
						<div class="btn-group" style="margin-right: 15px;">
							<a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="mdi mdi-format-list-bulleted"></i></a>
							<a href="<%= baseUrl + '/approvals/shift/calendar' %>" class="btn btn-outline-primary btn-sm"><i class="mdi mdi-calendar-check"></i></a>
						</div>
					</div> -->
				</div>

				<div class="app-container">
					<div class="row">
						<div class="col col-sm-12">

							<h5>Shift Record</h5>
							<div class="form-inline">
								<% if(!isHRGeneralist || true){ %>				
								<button type="button" class="btn btn-sm mb-2 mr-sm-2" v-bind:class="checkbox.length ? 'btn-primary':'btn-light'" :disabled="!checkbox.length" v-on:click="setStatus('approve')">
									<i class="mdi mdi-check"></i> Approve
								</button>
								<button type="button" class="btn btn-sm mb-2 mr-sm-2" v-bind:class="checkbox.length ? 'btn-warning':'btn-light'" :disabled="!checkbox.length" v-on:click="setStatus('decline')">
									<i class="mdi mdi-close"></i> Decline
								</button>
								<% } %>
								<!-- <select class="form-control mb-2 mr-sm-2 form-control-sm" v-on:change="applicant" v-model="param.applicant">
									<option value="">--All Employees--</option>
									<option v-for="user in users" v-bind:value="user.user_id" v-text="user.last_name+', '+user.first_name"></option>
								</select> -->
								<datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="Start Date" v-model="param.start"></datetime>
								<datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="End Date" v-model="param.end" :min-datetime="minDate"></datetime>
								<select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.status">
									<option value="">All</option>
									<option value="1">Pending</option>
									<option value="2">Approved</option>
									<option value="3">Declined</option>
									<option value="4">Closed</option>
								</select>
								<label class="mb-2 mr-sm-2">Limit</label>
								<select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.limit">
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="75">75</option>
									<option value="100">100</option>
								</select>
								<button type="reset" v-on:click="reset" class="btn btn-light mb-2">Reset</button>
							</div>
							<p></p>
							<div v-if="!fetching && records.length">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead class="bg-light">
											<tr>
												<th width="100">
													<div class="p-icon p-smooth pretty">
														<input type="checkbox" v-on:click="selectAll" v-model="allSelected"> 
														<div class="state p-primary">
															<i class="icon mdi mdi-check"></i> 
															<label> Check All</label>
														</div>
													</div>
												</th>
												<th class="text-center" width="150">Date Filed</th>
												<th class="text-center">Employee</th>
												<th class="text-center" width="120">Type</th>
												<th class="text-center" width="120">Onsite</th>
												<th class="text-center" width="200">Date</th>
												<th class="text-center" width="150">Time</th>
												<th class="text-center" width="120">Shift Length</th>
												<th class="text-center" width="120">Paid Hours</th>
												<th class="text-center" width="150">Supervisor</th>
												<th class="text-center" width="150">Head/Manager</th>
												<% if(user_role.destroy == 1){ %>
												<th class="text-center" width="75">Action</th>
												<% } %>
											</tr>
										</thead>
										<tbody>
											<tr v-for="record in records">
												<td>
													<div class="p-icon p-smooth pretty" p-checkbox="" v-if="userType(record.primary_approver, record.backup_approver) == 'primary' ? record.primary_status == '1':record.backup_status == '1'">
														<input type="checkbox" v-model="checkbox" v-on:click="select" v-bind:value="record.id">
														<div class="state p-primary">
															<i class="icon mdi mdi-check"></i> 
															<label> Pending</label>
														</div>
													</div>
													<div class="p-icon p-smooth pretty" p-checkbox="" v-if="userType(record.primary_approver, record.backup_approver) == 'primary' ? record.primary_status != '1':record.backup_status != '1'">
														<input type="checkbox" checked disabled>
														<div class="state p-success" v-if="userType(record.primary_approver, record.backup_approver) == 'primary' ? record.primary_status == '2':record.backup_status == '2'"><i class="icon mdi mdi-check"></i><label> Approved</label></div>
														<div class="state p-warning" v-if="userType(record.primary_approver, record.backup_approver) == 'primary' ? record.primary_status == '3':record.backup_status == '3'"><i class="icon mdi mdi-check"></i><label> Declined</label></div>
														<div class="state p-danger" v-if="userType(record.primary_approver, record.backup_approver) == 'primary' ? record.primary_status == '4':record.backup_status == '4'"><i class="icon mdi mdi-check"></i><label> Closed</label></div>
													</div>
												</td>
												<td v-text="moment(record.created_at).utc().format('MM/DD/YY hh:mmA')"></td>
												<td>
													<a href="javascript:void(0)" v-on:click="openCalendar(record.user_id, record.applicant.first_name +' '+ record.applicant.last_name, 'shift')" v-text="record.applicant.last_name +' '+ record.applicant.first_name"></a>
												</td>
												<td>
													<span v-if="record.type==1">Fixed Schedule</span>
													<span v-if="record.type==2">Flexible</span>
													<span v-if="record.type==3">Flexible Between</span>
												</td>
												<td class="text-center" v-text="record.onsite == 0 ? 'No':'Yes'"></td>
												<td v-text="moment(record.date).format('MM/DD/YYYY')"></td>
												<td>
													<span v-if="record.type==1" v-text="moment(record.date +' '+ record.check_in).format('hh:mmA') +'—'+ moment(record.date +' '+ record.check_out).format('hh:mmA')"></span>
													<span v-if="record.type==2">Flexible</span>
													<span v-if="record.type==3" v-text="moment(record.date +' '+ record.between_start).format('h:mmA') +'—'+ moment(record.date +' '+ record.between_end).format('h:mmA')"></span>
												</td>
												<td v-text="record.shift_length +' hour(s)'"></td>
												<td v-text="record.paid_hours +' hour(s)'"></td>
												<td>
													<div v-if="record.backup_status == '1'"><span class="status primary"></span> Pending</div>
													<div v-if="record.backup_status == '2'"><span class="status success"></span> Approved</div>
													<div v-if="record.backup_status == '3'"><span class="status warning"></span> Declined</div>
													<div v-if="record.backup_status == '4'"><span class="status secondary"></span> Closed</div>
												</td>
												<td>
													<div v-if="record.primary_status == '1'"><span class="status primary"></span> Pending</div>
													<div v-if="record.primary_status == '2'"><span class="status success"></span> Approved</div>
													<div v-if="record.primary_status == '3'"><span class="status warning"></span> Declined</div>
													<div v-if="record.primary_status == '4'"><span class="status secondary"></span> Closed</div>
												</td>
												<% if(user_role.destroy == 1){ %>
												<td class="text-center">
													<button class="btn btn-sm btn-outline-warning"  v-bind:title="$Global.checkCutoff(record.date, '<%= cutoff %>') ? 'Cut off period':''" v-on:click="archive(record.id,'approvals/shift/archive')"><i class="mdi mdi-trash-can-outline"></i></button>
												</td>
												<% } %>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<ul class="pagination" v-if="counts">
								<li class="page-item">
									<a href="javascript:void(0);" v-on:click="setPage(1)" class="page-link">First</a>
								</li>
								<li class="page-item" v-for="count in counts" v-bind:class="param.page == count ? 'active':''">
									<a href="javascript:void(0);" v-on:click="setPage(count)" class="page-link">{{ count }}</a>
								</li>
								<li class="page-item">
									<a href="javascript:void(0);" v-on:click="setPage(counts)" class="page-link">Last</a>
								</li>
							</ul>
						</div>
						<div class="col col-sm-12">
							<div class="loading" v-if="fetching">
								<img src="<%= baseUrl + '/img/loading.gif' %>">
								<p>Loading.....</p>
							</div>
						</div>
						<div class="col col-sm-12" v-if="!fetching && !records.length">
							<div class="norecord">
								<img src="<%= baseUrl + '/img/info.png' %>">
								<p>Sorry, we couldn't find any matches.</p>
							</div>
						</div>
					</div>
					

				</div>
				
				<% include ../../Include/alert %>
				<% include ../calendar %>
			</div>
		</approval-shift>
	</main>
	</div>
	
	<% include ../../Include/javascript %>

</body>
</html>