	<button class="scrollToTop"><i class="mdi mdi-arrow-up"></i></button>
	<script src="<%= baseUrl %>/lib/jquery/3.3.1/jquery.min.js"></script>
	<script src="<%= baseUrl %>/lib/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="<%= baseUrl %>/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--<script src="<%= baseUrl %>/vendor/scrollbar/dist/perfect-scrollbar.js"></script>-->
	<script src="<%= baseUrl %>/lib/multiple-datepicker/dist/js/datepicker.min.js"></script>
	<script src="<%= baseUrl %>/lib/multiple-datepicker/dist/js/i18n/datepicker.en.js"></script>
	<script src="<%= baseUrl %>/lib/air-datepicker/js/datepicker.min.js"></script>
	<script src="<%= baseUrl %>/lib/air-datepicker/js/i18n/datepicker.en.js"></script>
	<script src="<%= baseUrl %>/js/custom.js"></script>
	<script src="<%= baseUrl + '/lib/apexchart/apexcharts.js' %>"></script>
  	<script src="<%= baseUrl + '/lib/apexchart/vue-apexcharts.js' %>"></script>
	<script src="<%= baseUrl %>/js/app.js"></script>