<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= APP_NAME ? APP_NAME +' — ' : '' %> Company</title>
	<% include ../../Include/head %>

</head>
<body>
	<div id="app">
	<% include ../../Include/header %>
	
	<% include ../../Include/aside %>

	<main v-bind:class="fluid ? 'full-width':''">
		<!-- Inline Template -->
		<setting-company inline-template>
			<!-- Wrapper -->
			<div class="wrapper">
				<!-- Breadcrumb -->
				<div class="bread-crumb">
					<ol>
						<li class="breadcrumb-item"><a href="<%= baseUrl %>" class="">Dashboard</a></li>
						<li class="breadcrumb-item"><span class="active">Company</span></li>
					</ol>
					<% if(user_role.write){ %>
					<a href="javascript:void(0);" class="btn btn-primary btn-sm" v-on:click="openModal()"><i class="mdi mdi-plus"></i> New</a>
					<% } %>
				</div><!-- Breadcrumb -->

				
				<!-- App Container -->
				<div class="app-container">
					<div class="row">
						<div class="col">
							<h5>Company Record</h5>
							<% if(record.length > 0){ %>
							<div>
								<table class="table table-bordered">
									<thead class="bg-light">
										<tr>
											<th class="text-center">Name</th>
											<th class="text-center">Code</th>
											<th width="100" class="text-center">Status</th>
											<th width="100" class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										<% for(let key in record){ %>
										<tr>
											<td>
												<span class="image">
													<img src="<%= record[key]['logo'] ? baseUrl + '/uploads/logo/'+ record[key]['logo'] : baseUrl + '/uploads/logo/logo01.png' %>" height="50">
												</span>
												<%= record[key]['name'] %>
											</td>
											<td><%= record[key]['code'] %></td>
											<td class="text-center"><%- record[key]['status'] == 1 ? '<span class="status active"></span> Active' : '<span class="status"></span> Inactive' %></td>
											<td class="text-center">
												<button class="btn btn-sm btn-outline-success" title="edit" <%- user_role.modify ? 'v-on:click="editCompany('+record[key]['id']+')"':'disabled' %> ><i class="mdi mdi-pen"></i></button>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
							<% }else{ %>
							<div class="norecord">
								<img src="<%= baseUrl + '/img/info.png' %>">
								<p>Sorry, we couldn't find any matches.</p>
							</div>
							<% } %>
						</div>
					</div>

					<!-- Modal -->
					<% include ./components/form %>
					<!-- Modal -->

				</div><!-- App Container -->

				<% include ../../Include/alert %>

			</div> <!-- Wrapper -->

		</setting-company> <!-- Inline Template -->
		
	</main>
	
	</div>
	<% include ../../Include/javascript %>
</body>
</html>